{% extends 'templates/default.twig' %}

{% block body %}
  <div style="text-align: center;">
    <h1>Not found <span>:(</span></h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
  </div>
{% endblock body %}
